process {
  withName:make_samplesheet { 
    cpus=2
    container = 'mpgagebioinformatics/macs:2.2.9.1'
    containerOptions = "--user ${params.user} -v ${params.project_folder}:${params.project_folder} --platform=linux/amd64 "
  }
  withName:diffbind_R { 
    cpus=2
    container = 'mpgagebioinformatics/diffbind:3.12.0'
    containerOptions = "--user ${params.user} -v ${params.project_folder}:${params.project_folder} --platform=linux/amd64 "
  }
}

